.home {
    width: 100%;
    min-height: 720px;
}

.home-body {
    padding: 200px 0px;
}

.home-text {
   text-align: center;
}

.home-title {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px 0px 40px 0px;
}

.home-description {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.4;
    color: black;
    opacity: 0.60;
    margin: 0px 0px 160px 0px;
}

.home-buttons {
    display: flex;
    justify-content: center;
}

